

<div class="container-fluid">
<div class="row">
<section class="intro">

    <div class="row center" style="margin-top:20vh; margin-left:0; margin-right:0; padding:0">
    <div><h2>Smart cities are powered by</h2></div>
	<div><h1>INNOVATION</h1></div>
    <div class="ready" style="margin-top:10vh; color: grey;"><h3 style="font-size:40px; padding: 25px; border-top:solid ;border-bottom:solid">Are you ready to begin yours?</h3></div>
    </div>
</section>    
</div>

</div>